@import 'bootstrap/dist/css/bootstrap.min.css';


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.formContainer {
    width: 400px;
    padding: 50px 0;
}

.submitLink {
    color: white;
    text-decoration: none;
}